body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    display: flex;
    background-color: rgb(37, 49, 109);
    padding: 10px;

    padding-left: 72%; 
}
.home h1{
    font-size: 25px;
    padding-right: 25px;
    color: white;
    cursor: pointer;
  
}

.login{
    padding-right: 50px; 
   font-size: 25px;
   padding-right: 20px;
   color: white;
   cursor: pointer;
}
.upload h1{
   padding-right: 30px; 
   padding-left: 5px;
   font-size: 25px;
   padding-right: 20px;
   color: white;
   cursor: pointer;
}
.prediction h1{
    background-color: blueviolet;
    padding-right: 30px; 
    padding-left: 5px;
    font-size: 25px;
    padding-right: 20px;
    color: white;
    cursor: pointer;
}
.navbar a {
    text-decoration: none;
}

.bod{
    text-align: center;
}
.form{
    margin-top: 50px;
    text-align: center;
    
}
.data{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    
}

.card{
    margin-top: 10%;
    padding: 60px;
    margin: 20px;
    display: flex;
    
}
.card-1{
    text-align: center;
    margin: 40px;
    padding-top: 35px;
    padding: 10px;
    padding-bottom: 25px;
    border: 1px solid black;
    color: Black;
}
.card-1:hover{
    box-shadow: 5px 5px 5px 5px gray;
}

.card-2{
    text-align: center;
    margin: 40px;
    padding-top: 35px;
    padding: 10px;
    padding-bottom: 25px;
    border: 1px solid black;
    color: Black;
}
.card-2:hover{
    box-shadow: 5px 5px 5px 5px gray;
}


.card-3{
    text-align: center;
    padding-top: 35px;
    margin: 40px;
    padding: 10px;
    padding-bottom:25px;
    border: 1px solid black;
    color: Black;
}
.card-3:hover{
    box-shadow: 5px 5px 5px 5px gray;
}

@media screen and (max-width: 800px) {
    .navbar{
        display: flex;
        padding-left: 36px;
    }
}
.head{
    /* text-align: center; */
    font-size: 30px;
}
.age{
    /* text-align: center; */
    font-size: 20px;
}
.age input{
    width: 50%;
    height: 30px;
    border: 1px solid #472183;
    border-radius: 5px;
    padding-left: 10px;
}

.sex{
    /* text-align: center; */
    font-size: 20px;
}
.sex input{
    width: 50%;
    height: 30px;
    border: 1px solid #472183;
    border-radius: 5px;
    padding-left: 10px;
}

.chest{
    /* text-align: center; */
    font-size: 20px;
}
.chest input{
    width: 50%;
    height: 30px;
    border: 1px solid #472183;
    border-radius: 5px;
    padding-left: 10px;
}

.blood{
    /* text-align: center; */
    font-size: 20px;
}
.blood input{
    width: 50%;
    height: 30px;
    border: 1px solid #472183;
    border-radius: 5px;
    padding-left: 10px;
}

.serum{
    /* text-align: center; */
    font-size: 20px;
}
.serum input{
    width: 50%;
    height: 30px;
    border: 1px solid #472183;
    border-radius: 5px;
    padding-left: 10px;
}


.sugar{
    /* text-align: center; */
    font-size: 20px;
}
.sugar input{
    width: 50%;
    height: 30px;
    border: 1px solid #472183;
    border-radius: 5px;
    padding-left: 10px;
}

.ecg{
    /* text-align: center; */
    font-size: 20px;
}
.ecg input{
    width: 50%;
    height: 30px;
    border: 1px solid #472183;
    border-radius: 5px;
    padding-left: 10px;
}

.heart{
    /* text-align: center; */
    font-size: 20px;
}
.heart input{
    width: 50%;
    height: 30px;
    border: 1px solid #472183;
    border-radius: 5px;
    padding-left: 10px;
}

.btn-4{
    border: 1px solid blue;
    text-align: center;
    color: #472183;
    margin-top: 50px;
    padding: 5px 32px;
    font-size: 16px;
    cursor:pointer;
}
.btn-4:hover{
    background-color: #472183;
    color: white;
    
}


