<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disease Prediction</title>
    <link rel="stylesheet" href="static/About.css" />
    <link rel="icon" href="static/images/img8.png" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Disease Prediction</title>
        <link rel="stylesheet" href="static/About-kidney-disease.css" />
        <link rel="icon" href="static/images/img8.png" />
      </head>
      <body>
        <div class="main">
          <div class="head">
            <h1>Disease Prediction System</h1>
          </div>

          <div class="Nav">
            <div>
              <a style="text-decoration: none" href="{{url_for('navbar')}}">
                <h4 class="home">Home</h4>
              </a>
            </div>

            <div>
              <a style="text-decoration: none" href="{{url_for('about')}}">
                <h4 class="about">About</h4>
              </a>
            </div>
          </div>
        </div>

        <div class="about2">
          <h1>Kidney Disease</h1>
        </div>

        <div class="content">
          <h2>What is Kidney Disease ?</h2>
          <p>
            Kidney disease prediction refers to the use of various techniques
            and tools to estimate an individual's risk of developing kidney
            disease or other related conditions that affect the kidneys. These
            techniques may involve the analysis of various risk factors such as
            age, gender, family history, blood pressure, cholesterol levels,
            blood sugar levels, and lifestyle habits. The aim of kidney disease
            prediction is to identify individuals who may be at a higher risk of
            developing kidney disease so that they can be targeted with
            preventive measures such as lifestyle modifications, medication, or
            other interventions that can reduce the risk of developing kidney
            disease. By predicting and managing the risk of kidney disease,
            healthcare professionals can help individuals maintain healthy
            kidneys and reduce the risk of developing serious kidney
            conditions.Kidney disease, also known as renal disease, refers to a
            condition in which the kidneys are damaged and are unable to
            function properly. The kidneys play an important role in filtering
            waste products and excess fluid from the blood and excreting them
            from the body through urine. When the kidneys are damaged, waste
            products and fluids can build up in the body, leading to a range of
            complications.
          </p>
          <h2>What are the symptoms of Heart Disease ?</h2>
          <p>1. Fatigue and weakness</p>
          <p>2. Swelling in the legs, ankles, or feet</p>
          <p>3. Loss of appetite and nausea</p>
          <p>4. Difficulty sleeping</p>
          <p>5. Changes in urine output, such as decreased urine output, foamy urine, or blood in the urine</p>
          <p>6. Shortness of breath</p>
          <p>7. Itching and dry skin</p>

          <h2>Precautions that can help prevent heart disease include:</h2>
          <p>1. Maintaining a healthy diet that is low in salt, saturated fats, and processed foods</p>
          <p>2. Engaging in regular physical activity for at least 30 minutes a day        </p>
          <p>3. Quitting smoking and avoiding exposure to secondhand smoke</p>
          <p>4. Limiting alcohol consumption</p>
          <p>5. Managing any underlying conditions that can damage the kidneys, such as diabetes and high blood pressure.</p>
          <p>6. Taking medications as prescribed and avoiding over-the-counter medications that can be harmful to the kidneys</p>
          <p>7. Drinking plenty of water to stay hydrated</p>

          <h2>How to use Kidney Disease prediction App ?</h2>
          <div class="vd">
            <video  width="620" height="540" controls>
              <source src="static/images/Kidney_clip.mp4" type="video/mp4">
            </video>
          <div>
          <a href="{{url_for('Kidney')}}"><button>Try Here...</button></a>
        </div>
      </body>
    </html>
  </body>
</html>
