<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disease Prediction</title>
    <link rel="stylesheet" href="static/About.css" />
    <link rel="icon" href="static/images/img8.png" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Disease Prediction</title>
        <link rel="stylesheet" href="static/About-heart-disease.css" />
        <link rel="icon" href="static/images/img8.png" />
      </head>
      <body>
        <div class="main">
          <div class="head">
            <h1>Disease Prediction System</h1>
          </div>

          <div class="Nav">
            <div>
              <a style="text-decoration: none" href="{{url_for('navbar')}}">
                <h4 class="home">Home</h4>
              </a>
            </div>

            <div>
              <a style="text-decoration: none" href="{{url_for('about')}}">
                <h4 class="about">About</h4>
              </a>
            </div>

        
          </div>
        </div>

        <div class="about2">
          <h1>Heart Disease</h1>
        </div>

        <div class="content">
          <h2>What is Heart Disease ?</h2>
          <p>
            Heart disease prediction refers to the use of various techniques and
            tools to estimate an individual's risk of developing cardiovascular
            disease (CVD) or other related conditions that affect the heart and
            blood vessels. These techniques may involve the analysis of various
            risk factors such as age, gender, family history, blood pressure,
            cholesterol levels, and lifestyle habits. The aim of heart disease
            prediction is to identify individuals who may be at a higher risk of
            developing heart disease so that they can be targeted with
            preventive measures such as lifestyle modifications, medication, or
            other interventions that can reduce the risk of developing CVD. By
            predicting and managing the risk of heart disease, healthcare
            professionals can help individuals maintain a healthy heart and
            reduce the risk of developing serious cardiovascular conditions.
            Heart disease, also known as cardiovascular disease, refers to a
            group of conditions that affect the heart and blood vessels. The
            most common types of heart disease include coronary artery disease,
            heart failure, arrhythmias, and heart valve problems.
          </p>
          <h2>What are the symptoms of Heart Disease ?</h2>
          <p>1. Chest pain or discomfort</p>
          <p>2. Shortness of breath</p>
          <p>3. Fatigue</p>
          <p>4. Swelling in the legs, ankles, or feet</p>
          <p>5. Irregular heartbeat</p>
          <p>6. Dizziness or lightheadedness</p>
          <p>7. Nausea or vomiting</p>

          <h2>Precautions that can help prevent heart disease include:</h2>
            <p>1. Quit smoking</p>
            <p>2. Exercise regularly</p>
            <p>3. Manage your blood pressure</p>
            <p>4. Manage your cholesterol</p>
            <p>5. Manage your blood sugar</p>
            <p>6. Manage your weight</p>
            <p>7. Limit alcohol</p>
        
            <h2>How to use Heart Disease prediction App ?</h2>
            <div class="vd">
              <video  width="620" height="540" controls>
                <source src="static/images/Heart_clip.mp4" type="video/mp4">
              </video>
              <div>
            <a href="{{url_for('Heart')}}"><button>Try Here....</button></a>
        </div>
      </body>
    </html>
  </body>
</html>
