<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disease Prediction</title>
    <link rel="stylesheet" href="static/About.css" />
    <link rel="icon" href="static/images/img8.png" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Disease Prediction</title>
        <link rel="stylesheet" href="static/About-diabetes.css" />
        <link rel="icon" href="static/images/img8.png" />
      </head>
      <body>
        <div class="main">
          <div class="head">
            <h1>Disease Prediction System</h1>
          </div>

          <div class="Nav">
            <div>
              <a style="text-decoration: none" href="{{url_for('navbar')}}">
                <h4 class="home">Home</h4>
              </a>
            </div>

            <div>
              <a style="text-decoration: none" href="{{url_for('about')}}">
                <h4 class="about">About</h4>
              </a>
            </div>
          </div>
        </div>

        <div class="about2">
          <h1>Diabetes</h1>
        </div>

        <div class="content">
          <h2>What is Diabetes ?</h2>
          <p>
            Diabetes disease prediction refers to the use of various techniques
            and tools to estimate an individual's risk of developing diabetes or
            other related conditions that affect the body's ability to regulate
            blood sugar levels. These techniques may involve the analysis of
            various risk factors such as age, gender, family history, body
            weight, blood pressure, cholesterol levels, and lifestyle habits.
            The aim of diabetes disease prediction is to identify individuals
            who may be at a higher risk of developing diabetes so that they can
            be targeted with preventive measures such as lifestyle
            modifications, medication, or other interventions that can reduce
            the risk of developing diabetes. By predicting and managing the risk
            of diabetes, healthcare professionals can help individuals maintain
            healthy blood sugar levels and reduce the risk of
            developing.Diabetes is a chronic condition that affects how your
            body processes glucose (sugar) in your blood. There are two main
            types of diabetes: type 1 and type 2. In type 1 diabetes, the body
            doesn't produce insulin, which is a hormone that regulates blood
            sugar. In type 2 diabetes, the body becomes resistant to insulin or
            doesn't produce enough of it.
          </p>
          <h2>What are the symptoms of Heart Disease ?</h2>
          <p>1. Frequent urination</p>
          <p>2. Increased thirst</p>
          <p>3. Hunger</p>
          <p>4. Fatigue</p>
          <p>5. Blurred vision</p>
          <p>6. Numbness or tingling in the hands or feet</p>
          <p>7. Slow-healing cuts or sores</p>

          <h2>Precautions that can help prevent heart disease include:</h2>
          <p>1. Maintaining a healthy diet that is low in sugar, processed foods, and saturated fats</p>
          <p>2. Engaging in regular physical activity for at least 30 minutes a day</p>
          <p>3. Maintaining a healthy weight</p>
          <p>4. Quitting smoking and avoiding exposure to secondhand smoke</p>
          <p>5. Managing stress through relaxation techniques like meditation or yoga</p>
          <p>6. Monitoring blood sugar levels regularly</p>
          <p>7. Taking medications or insulin as prescribed by a healthcare professional</p>

          <h2>How to use Diabetes prediction App ?</h2>
          <div class="vd">
          <video  width="620" height="540" controls>
            <source src="static/images/Diabetes_clip.mp4" type="video/mp4">
          </video>
          <div>
        <a href="{{url_for('Diabetes')}}"><button>Try Here...</button></a>
        </div>
      </body>
    </html>
  </body>
</html>
