<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disease Prediction</title>
    <link rel="stylesheet" href="static/About.css" />
    <link rel="icon" href="static/images/img8.png" />
  </head>
  <body>
    <div>
      <div class="main">
        <div class="head">
          <h1>Disease Prediction System</h1>
        </div>

        <div class="Nav">
          <div>
            <a style="text-decoration: none" href="{{url_for('navbar')}}">
              <h4 class="home">Home</h4>
            </a>
          </div>

          <div>
            <a style="text-decoration: none" href="{{url_for('about')}}">
              <h4 class="about">About</h4>
            </a>
          </div>

  
        </div>
      </div>

      <div class="about2">
        <h1>ABOUT</h1>
      </div>

      <div class="Heart">
        <img src="static/images/heart2.jpeg" width="400" height="400" />
        <div class="data1">
          <h2>About Heart Disease Prediction</h2>
          <p>
            Heart disease prediction refers to the use of various techniques and
            tools to estimate an individual's risk of developing cardiovascular
            disease (CVD) or other related conditions that affect the heart and
            blood vessels. These techniques may involve the analysis of various
            risk factors such as age, gender, family history, blood pressure,
            cholesterol levels, and lifestyle habits. The aim of heart disease
            prediction is to identify individuals who may be at a higher risk of
            developing heart disease so that they can be targeted with
            preventive measures such as lifestyle modifications, medication, or
            other interventions that can reduce the risk of developing CVD. By
            predicting and managing the risk of heart disease, healthcare
            professionals can help individuals maintain a healthy heart and
            reduce the risk of developing serious cardiovascular conditions.
          </p>
          <a href="{{url_for('aboutheartdisease')}}" ><button>Read more....</button></a>

        </div>
      </div>

      <div class="Heart">
        <img src="static/images/kidney.jpeg" width="400" height="400" />
        <div class="data1">
          <h1>About Kidney Disease Prediction</h1>
          <p>
            Kidney disease prediction refers to the use of various techniques
            and tools to estimate an individual's risk of developing kidney
            disease or other related conditions that affect the kidneys. These
            techniques may involve the analysis of various risk factors such as
            age, gender, family history, blood pressure, cholesterol levels,
            blood sugar levels, and lifestyle habits. The aim of kidney disease
            prediction is to identify individuals who may be at a higher risk of
            developing kidney disease so that they can be targeted with
            preventive measures such as lifestyle modifications, medication, or
            other interventions that can reduce the risk of developing kidney
            disease. By predicting and managing the risk of kidney disease,
            healthcare professionals can help individuals maintain healthy
            kidneys and reduce the risk of developing serious kidney conditions
          </p>
          <a href="{{url_for('aboutkidneydisease')}}" ><button>Read more....</button></a>
        </div>
      </div>

      <div class="Heart">
        <img src="static/images/lungs.jpeg" width="400" height="400" />
        <div class="data1">
          <h2>About Diabetes Prediction</h2>
          <p>
            Diabetes disease prediction refers to the use of various techniques
            and tools to estimate an individual's risk of developing diabetes or
            other related conditions that affect the body's ability to regulate
            blood sugar levels. These techniques may involve the analysis of
            various risk factors such as age, gender, family history, body
            weight, blood pressure, cholesterol levels, and lifestyle habits.
            The aim of diabetes disease prediction is to identify individuals
            who may be at a higher risk of developing diabetes so that they can
            be targeted with preventive measures such as lifestyle
            modifications, medication, or other interventions that can reduce
            the risk of developing diabetes. By predicting and managing the risk
            of diabetes, healthcare professionals can help individuals maintain
            healthy blood sugar levels and reduce the risk of developing
          </p>
          <a href="{{url_for('aboutdiabetes')}}"><button>Read more....</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
