<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Prediction</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.min.js">
    </script> 
    <link rel="stylesheet" href='static/upload.css' />
    <link rel='icon' href="static/images/img8.png" />
</head>

<body>
    <div class="main">

        <div class="navbar">

            <a href="{{url_for('navbar')}}" class="home">
                <h1>Home</h1>
            </a>
            <a href="{{url_for('register')}}">
                <h1 class="login">Login</h1>
            </a>
            <a href="{{url_for('upload')}}" class="upload">
                <h1>Upload</h1>
            </a>

        </div>

        <div class="bod">
            <h1>Upload</h1>
        </div>

        <div class="form">
            <form action="">
                <input type="file" id="myfile file_upload" name="filname">
            </form>
            <button class="btn" onclick="upload()">Upload</button>
        </div>

        <div class="bt">

            <a href="{{url_for('prediction')}}">
                <button class="btn-1">Click to Train | Test</button>
            </a>
            <br>
            <br>
        </div>

        <table id='display-data' border="1"></table>
    </div>

   
</body>

</html>